---
let title = 'My Astro Site';
import Card from '../components/card.svelte'
import Layout from '../layouts/layout.astro'
---


<Layout title={title}>

<div class="flex flex-col">

    <Card client:visible/>
    
</div>
 
</Layout>
