---
let title = 'My Astro Site';
import Card from '../components/card.svelte'
---

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{title}</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg">
    <link
        rel="stylesheet"
        href={Astro.resolve("../assets/style/global.css")}
    >
    <!-- <link
        rel="stylesheet"
        href="../assets/style/global.css"
    > -->
</head>
<body class="flex p-40">

<Card />
</body>
</html>
