---
// src/layouts/BaseLayout.astro
const {title} = Astro.props;
import Nav from '../components/Nav.svelte'
---
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{title}</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg">
    <link
        rel="stylesheet"
        href={Astro.resolve("../assets/style/global.css")}
    >
</head>

<body class="bg-gray-100" >

<Nav client:visible/>
<div class="flex p-20">
    <slot />

</div>
</body>

</html>